$color-fill-neutral-low-0: #ffffff;
$color-fill-neutral-low-1: #f6f8fa;
$color-fill-neutral-low-2: #f0f0f2;
$color-fill-neutral-low-3: #e8e8eb;
$color-fill-neutral-low-4: #dcdce1;
$color-fill-neutral-low-5: #cfcfd5;

$color-fill-neutral-medium-0: #adadb3;
$color-fill-neutral-medium-1: #9d9da3;
$color-fill-neutral-medium-2: #75757b;
$color-fill-neutral-medium-3: #5d5d63;
$color-fill-neutral-medium-4: #46464a;
$color-fill-neutral-medium-5: #3a3a3d;

$color-fill-neutral-high-0: #28282b;
$color-fill-neutral-high-1: #232326;
$color-fill-neutral-high-2: #1e1e21;
$color-fill-neutral-high-3: #19181b;
$color-fill-neutral-high-4: #141316;
$color-fill-neutral-high-5: #0f0e10;

$color-fill-primary-0: #eef0fc;
$color-fill-primary-1: #d8defc;
$color-fill-primary-2: #a4b2f8;
$color-fill-primary-3: #374fc9;
$color-fill-primary-4: #293ea5;
$color-fill-primary-5: #1e2f83;

$color-fill-success-0: #f1fdf4;
$color-fill-success-1: #e9fcef;
$color-fill-success-2: #bef7d2;
$color-fill-success-3: #47c480;
$color-fill-success-4: #38a96d;
$color-fill-success-5: #2b8656;

$color-fill-danger-0: #fcf2f2;
$color-fill-danger-1: #fbdbdb;
$color-fill-danger-2: #f7afae;
$color-fill-danger-3: #d7494b;
$color-fill-danger-4: #af2f30;
$color-fill-danger-5: #902524;

$color-fill-accent-weak: #fef3eb;
$color-fill-accent-light: #ffbea3;
$color-fill-accent-base: #ff4a00;
$color-fill-accent-dark: #d13f00;

$color-fill-state-away: #f2ae40;
$color-fill-state-active: #35b9e9;
$color-fill-state-extra: #6e3ff3;

$color-text-on-neutral-low-weak: #868C98;
$color-text-on-neutral-low-default: #525866;
$color-text-on-neutral-low-strong: #0A0D14;

$color-stroke-soft-200: #e2e4e9;

$font-family-sans-serif: 'Inter', sans-serif !default;

$font-size-xs: 11px !default;
$font-size-sm: 12px !default;
$font-size-base: 14px !default;
$font-size-lg: 16px !default;
$font-size-xl: 18px !default;
$font-size-2xl: 20px !default;
$font-size-big: 40px !default;

$font-weight-light: 200 !default;
$font-weight-normal: 400 !default;
$font-weight-semibold: 500 !default;
$font-weight-bold: 600 !default;

$line-height-xxs: 0.75 !default;
$line-height-xs: 1 !default;
$line-height-sm: 1.25 !default;
$line-height-base: 1.5 !default;
$line-height-lg: 1.75 !default;

